---
---

<!doctype html>
<html style="scroll-behavior: smooth;">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ website.url }}/includes/assets/css/styles.css"> {% include "components/metadata.njk" %}
    </head>
    <body
        class="home_page"
        style=" background-image: url('{{ website.url }}/includes/assets/images/lichta.jpg'); background-attachment: fixed;
            /*filter: blur(05px); *//*opacity: 0.5;*/ background-size: cover;">
        {% include "components/header.njk" %}
        <div class="textBox" style="margin: auto auto auto 5%">
            <div class="textBox__background">
                {{ content | safe }}
            </div>
        </div>
        {% include "components/footer.njk" %}
    </body>
</html>