<footer class="footer">
    <p class="footer__text">©2020 LICHTA&nbsp;·&nbsp;
        <a href="mailto:stephane.lalande@orange.fr">stephane.lalande@orange.fr
        </a>
        &nbsp;·&nbsp;
        <a class="insta" target="_blank" href="https://www.instagram.com/lichta2022/">lichta2022&nbsp;</a>
        &nbsp;·&nbsp;
        <a target="_blank" href="https://www.pcagalleryart.com">Gallery&nbsp;PcaGalleryArt
        </a>
    </p>
    <p class="footer__text">
        <a href="{{website.url}}/copyright">Propriété Intellectuelle, Droit d'Auteur</a>
    </p>
</footer>
<div class="backToTop" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});">
    <span class="backToTop__icon"></span>
</div>