<footer class="footer">
	<p class="footer__text">©2020 LUC BORELL · <a href="mailto:lucborell@hotmail.fr" style="color: #eeeeee">lucborell@hotmail.fr</a></p>
	<p class="footer__text"><a href="{{website.url}}/copyright " style="color: #eeeeee">Propriété Intellectuelle, Droit d'Auteur</a></p>
</footer>
<div class="backToTop" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});"><span class="backToTop__icon"></span></div>