<header id="header" class="header">
    <div class="header__inner">
        <a class="header__logo" href="{{ website.url }}/collection">LICHTA</a>
        <nav class="navbar">
            <a class="navbar__bigItem" href="{{ website.url }}/bio">ARTISTE&nbsp;PEINTRE&nbsp;CONTEMPORAIN</a>
            <span class="navbar__separator">/</span>
            <a class="navbar__bigItem" href="{{ website.url }}/collection">COLLECTIONS</a>
        </nav>
    </div>
</header>
<div
    class="header__underBlock"><!-- <p class="header__underBlock__text">
            <a class="insta" target="_blank" href="https://www.instagram.com/lichta2022/">lichta2022&nbsp;</a>
        </p> -->
</div>