<header id="header" class="header">
    <div class="header__inner">
        <a class="header__logo" href="{{website.url}}/">LICHTA</a>
        <nav class="navbar">
            <a class="navbar__bigItem" href="{{website.url}}/bio">PEINTRE&nbsp;CONTEMPORAIN</a>
            <span class="navbar__separator">/</span>
            <a class="navbar__bigItem" href="{{website.url}}/collection">COLLECTIONS</a>
        </nav>
    </div>
</header>
<div class="header__underBlock">
    <p class="header__underBlock__text">
        <a style="color:#333333" target="_blank" href="https://linktr.ee/">linktr.ee/lichta</a>
    </p>
</div>