<header id="header" class="header">
    <div
        class="header__inner">
        {# <!--{{page.url}} // {{website.url + "/collection/"}} --> #}
        {% if page.url !== website.url + "/collection/" %}
            <a class="header__logo" href="{{ website.url }}/collection">LICHTA</a>
        {% else %}
            <a class="header__logo" href="{{ website.url }}/">LICHTA</a>
        {% endif %}
        <nav class="navbar">
            <a class="navbar__bigItem" href="{{ website.url }}/bio">ARTISTE&nbsp;PEINTRE&nbsp;CONTEMPORAIN</a>
            <span class="navbar__separator">/</span>
            {# <a class="navbar__bigItem" href="{{ website.url }}/collection">COLLECTIONS</a> #}
            <a class="navbar__bigItem" href="{{ website.url }}/collection/couleurs-et-expressions">COULEURS&nbsp;ET&nbsp;EXPRESSIOINS</a>
        </nav>
    </div>
</header>
<div
    class="header__underBlock"><!-- <p class="header__underBlock__text">
                                                                <a class="insta" target="_blank" href="https://www.instagram.com/lichta2022/">lichta2022&nbsp;</a>
                                                            </p> -->
</div>